# Telegram
BOT_TOKEN=
# Run ./scripts/whoami.ts
BOT_INFO=

WEBHOOK_SECRET=       # for verify request
# WEBHOOK_URI=        # for scripts/webhook.ts
# WEBHOOK_URI_LOCAL=  # for scripts/webhook.ts

# Danbooru https://danbooru.donmai.us/wiki_pages/help:api
DANBOORU_LOGIN=
DANBOORU_APIKEY=
# DANBOORU_USER_AGENT=
# DANBOORU_URL=
# DANBOORU_PROXY=

# Serve https
# PORT=443
# KEY=
# CERT=
# WRANGLER_HTTPS_KEY_PATH=
# WRANGLER_HTTPS_CERT_PATH=
